%h3= t 'questions.question_position', :current => current_question_position + 1, :total => total_question
.side
  %button#ignore.sad.idontknow{:title => t('questions.ignore_current_question')}
    = image_tag "smileys/idontknow.gif"  
.content
  = render :partial => "#{question.content_type.pluralize}/play", :locals => {question.content_type.to_sym => question.data}

