%h3 Question #{current_question_position + 1}/#{total_question}
- if question.data.is_a?(MultipleChoice)
  = render :partial => "multiple_choices/play", :locals => {:multiple_choice => question.data}
- elsif question.data.is_a?(FollowPattern)
  = render :partial => "follow_patterns/play", :locals => {:follow_pattern => question.data}

%div
  %button#ignore Ignore this question
