:javascript
  var retrier = new Retrier({ interval: 2500 });
  var refreshActivePlayers = (function(){
    var caller = function(){
      $.ajax({
        type: 'post',
        url: #{active_players_league_path(@league.id).to_json},
        success: function(html){
          $('#league_active_players').html(html);
          setTimeout(refreshActivePlayers, 5000);
          retrier.reset();
        },
        error: function(){
          retrier.retry(refreshActivePlayers);
        }
      })
    }

    return caller;
  })();

  $(function(){
    setTimeout(refreshActivePlayers, 5000);
  })


