%h1 Welcome to #{@league.name}
%h2 Let's match
#status
#question
:javascript
  var leagueId = #{@league.id};
  var retried = 0;
  
  var MAX_RETRIES = 20; 
  
  $(function(){ refreshMatchStatus();
  })

  function refreshMatchStatus(){
    $.ajax({
      type: 'post',
      url: ["/leagues/", leagueId, "/request_match_info"].join(""),
      dataType: 'json',
      success: function(data){
        updateMatchInfo(data);
        retried = 0;
      },
      error: function(data){
        if (retried < MAX_RETRIES){
          retried++;
          setTimeout(refreshMatchStatus, 500);
        }
      }
    });
  }

  function updateMatchInfo(info){
    $('#status').html(info.status)
    if (info.question){
      $('#question').html(info.question);
    } else {
      setTimeout(refreshMatchStatus, 500);
    }
  }

