- @title = @league.name
.item
  %table
    %tr
      %td.logo_cell
        = image_tag(@league.image, :size => "96x64")
      %td
        %div= @league.description
        .main_link
          %a{:href => matching_league_path(@league)}
            %span= t('.start') 
