/* Reset --------------------------------------------------------------*/
/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 16, ../../../app/stylesheets/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../../../app/stylesheets/_defaults.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 23, ../../../app/stylesheets/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, ../../../app/stylesheets/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, ../../../app/stylesheets/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 32, ../../../app/stylesheets/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 36, ../../../app/stylesheets/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 42, ../../../app/stylesheets/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 55, ../../../app/stylesheets/_defaults.sass */
::-moz-selection {
  color: white;
  background: #008fe0;
  text-shadow: none;
}

/* line 60, ../../../app/stylesheets/_defaults.sass */
::selection {
  color: white;
  background: #008fe0;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 68, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited {
  color: #008fe0;
}
/* line 70, ../../../app/stylesheets/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, ../../../app/stylesheets/_defaults.sass */
a:focus, a:hover, a:active {
  color: #e05100;
  text-decoration: none;
}
/* line 75, ../../../app/stylesheets/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 80, ../../../app/stylesheets/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 83, ../../../app/stylesheets/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 90, ../../../app/stylesheets/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 93, ../../../app/stylesheets/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 97, ../../../app/stylesheets/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 102, ../../../app/stylesheets/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 105, ../../../app/stylesheets/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 108, ../../../app/stylesheets/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 112, ../../../app/stylesheets/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 115, ../../../app/stylesheets/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 118, ../../../app/stylesheets/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 122, ../../../app/stylesheets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 125, ../../../app/stylesheets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 128, ../../../app/stylesheets/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 133, ../../../app/stylesheets/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 136, ../../../app/stylesheets/_defaults.sass */
q {
  font-style: italic;
}
/* line 138, ../../../app/stylesheets/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 146, ../../../app/stylesheets/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 149, ../../../app/stylesheets/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 156, ../../../app/stylesheets/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 162, ../../../app/stylesheets/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 169, ../../../app/stylesheets/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 173, ../../../app/stylesheets/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 176, ../../../app/stylesheets/_defaults.sass */
ul {
  list-style: disc;
}
/* line 178, ../../../app/stylesheets/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 181, ../../../app/stylesheets/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 185, ../../../app/stylesheets/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 191, ../../../app/stylesheets/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 197, ../../../app/stylesheets/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 200, ../../../app/stylesheets/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 203, ../../../app/stylesheets/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 208, ../../../app/stylesheets/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 211, ../../../app/stylesheets/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 219, ../../../app/stylesheets/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 223, ../../../app/stylesheets/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 227, ../../../app/stylesheets/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 230, ../../../app/stylesheets/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 233, ../../../app/stylesheets/_defaults.sass */
label {
  font-weight: bold;
}

/* line 238, ../../../app/stylesheets/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 249, ../../../app/stylesheets/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 260, ../../../app/stylesheets/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 262, ../../../app/stylesheets/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 265, ../../../app/stylesheets/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .matching button, .matching input[type="button"], .matching input[type="submit"], .matching input[type="submit"].sad, .matching button.sad {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1300638715') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .matching button::-moz-focus-inner, .matching input[type="button"]::-moz-focus-inner, .matching input[type="submit"]::-moz-focus-inner, .matching input[type="submit"].sad::-moz-focus-inner, .matching button.sad::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .matching button:focus, .matching input[type="button"]:focus, .matching input[type="submit"]:focus, .matching input[type="submit"].sad:focus, .matching button.sad:focus {
  outline: none;
}

/* Layout -------------------------------------------------------------- */
/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 15, ../../../app/stylesheets/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  background-image: url('/images/grid.png?1300374184');
  background-repeat: repeat;
  background-position: 1em 0;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 19, ../../../app/stylesheets/screen.sass */
.notice {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
  border: solid 2px;
  background-color: #003e61;
  color: white;
  text-align: center;
}

/* line 54, ../../../app/stylesheets/screen.sass */
.header {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 56, ../../../app/stylesheets/screen.sass */
.header .left {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
}
/* line 58, ../../../app/stylesheets/screen.sass */
.header .left .logo {
  display: inline;
  float: left;
  width: 21.053%;
  margin-right: 5.263%;
}
/* line 60, ../../../app/stylesheets/screen.sass */
.header .left .extra {
  display: inline;
  float: left;
  width: 73.684%;
  margin-right: 5.263%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 63, ../../../app/stylesheets/screen.sass */
.header .left .extra .site_name {
  text-decoration: none;
  color: #4c4c4c;
  clear: both;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 68, ../../../app/stylesheets/screen.sass */
.header .left .extra .site_name .first {
  color: #008fe0;
}
/* line 70, ../../../app/stylesheets/screen.sass */
.header .left .extra .site_name .last {
  color: #ff9600;
}
/* line 72, ../../../app/stylesheets/screen.sass */
.header .left .extra .slogan {
  clear: both;
  margin-top: -0.75em;
}
/* line 75, ../../../app/stylesheets/screen.sass */
.header .left .extra .langbar {
  clear: both;
}
/* line 77, ../../../app/stylesheets/screen.sass */
.header .left .extra .langbar .en {
  width: 16px;
  height: 11px;
  text-indent: -8000px;
  float: left;
  margin-right: 5px;
  background: url("/images/languages/en.png") no-repeat;
}
/* line 80, ../../../app/stylesheets/screen.sass */
.header .left .extra .langbar .vi {
  width: 16px;
  height: 11px;
  text-indent: -8000px;
  float: left;
  margin-right: 5px;
  background: url("/images/languages/vi.png") no-repeat;
}
/* line 83, ../../../app/stylesheets/screen.sass */
.header .right {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 86, ../../../app/stylesheets/screen.sass */
.header .right .user_info {
  clear: both;
  text-align: right;
}
/* line 89, ../../../app/stylesheets/screen.sass */
.header .right .features {
  clear: both;
  margin-top: 1.5em;
}
/* line 92, ../../../app/stylesheets/screen.sass */
.header .right .features ul {
  margin: 0;
}
/* line 94, ../../../app/stylesheets/screen.sass */
.header .right .features ul li {
  background: #003e61;
  display: block;
  float: right;
  margin-left: 7px;
}
/* line 99, ../../../app/stylesheets/screen.sass */
.header .right .features ul li a {
  color: white;
  display: block;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}
/* line 105, ../../../app/stylesheets/screen.sass */
.header .right .features ul li.youarehere {
  background: #ff9600;
}
/* line 107, ../../../app/stylesheets/screen.sass */
.header .right .features ul li:hover {
  background-color: #ff9600;
}
/* line 109, ../../../app/stylesheets/screen.sass */
.header .right .features ul li.disabled {
  background-color: silver;
}
/* line 111, ../../../app/stylesheets/screen.sass */
.header .right .features ul li.disabled a {
  cursor: default;
}
/* line 113, ../../../app/stylesheets/screen.sass */
.header .right .features ul li.disabled:hover {
  background-color: silver;
}
/* line 115, ../../../app/stylesheets/screen.sass */
.header .topbar {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 118, ../../../app/stylesheets/screen.sass */
.header .hmenus {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 133, ../../../app/stylesheets/screen.sass */
.body {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
  padding-top: 16px;
}
/* line 136, ../../../app/stylesheets/screen.sass */
.body .subheader {
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 1em;
}
/* line 138, ../../../app/stylesheets/screen.sass */
.body .subheader h2 {
  margin-bottom: 0px;
}
/* line 140, ../../../app/stylesheets/screen.sass */
.body .subheader h2 a:link, .body .subheader h2 a:hover {
  text-decoration: none;
}
/* line 143, ../../../app/stylesheets/screen.sass */
.body .item {
  clear: both;
  position: relative;
  border: solid 2px #8c8c8c;
  margin-bottom: 1.5em;
}
/* line 148, ../../../app/stylesheets/screen.sass */
.body .item table {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0em;
  padding-bottom: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 153, ../../../app/stylesheets/screen.sass */
.body .item table .logo_cell {
  width: 96px;
}
/* line 155, ../../../app/stylesheets/screen.sass */
.body .item .coming_soon {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.7;
  left: 0px;
  top: 0px;
}
/* line 157, ../../../app/stylesheets/screen.sass */
.body .item .sub_link {
  font-size: 80%;
}
/* line 159, ../../../app/stylesheets/screen.sass */
.body .item .main_link {
  font-size: 120%;
}
/* line 28, ../../../app/stylesheets/screen.sass */
.body .item .main_link a, .body .item .main_link a:link, .body .item .main_link a:visited {
  background: #003e61;
  display: block;
  float: left;
  text-decoration: none;
}
/* line 33, ../../../app/stylesheets/screen.sass */
.body .item .main_link a span, .body .item .main_link a:link span, .body .item .main_link a:visited span {
  color: white;
  display: block;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}
/* line 40, ../../../app/stylesheets/screen.sass */
.body .item .main_link a:hover span {
  background-color: #ff9600;
}
/* line 42, ../../../app/stylesheets/screen.sass */
.body .item .main_link:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}
/* line 161, ../../../app/stylesheets/screen.sass */
.body .subcontent {
  clear: both;
  padding-left: 8.475%;
}

/* line 165, ../../../app/stylesheets/screen.sass */
.footer {
  margin-top: 1.5em;
  border-top: solid 1px #4c4c4c;
  font-size: 80%;
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 170, ../../../app/stylesheets/screen.sass */
.footer .links {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
}
/* line 172, ../../../app/stylesheets/screen.sass */
.footer .copyright {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}

/* Styles -------------------------------------------------------------- */
/* line 1, ../../../app/stylesheets/_matching.sass */
.matching {
  clear: both;
}
/* line 3, ../../../app/stylesheets/_matching.sass */
.matching .left {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
}
/* line 5, ../../../app/stylesheets/_matching.sass */
.matching .left .internal {
  border: 2px solid;
  padding: 5.263%;
  margin-bottom: 1.5em;
}
/* line 9, ../../../app/stylesheets/_matching.sass */
.matching .right {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  margin-bottom: 1.5em;
}
/* line 13, ../../../app/stylesheets/_matching.sass */
.matching .counter {
  font-size: 2em;
  line-height: 1.5em;
  color: #008fe0;
}
/* line 16, ../../../app/stylesheets/_matching.sass */
.matching button, .matching input[type="button"], .matching input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #003e61;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0ba7ff), color-stop(10%, #006fae), color-stop(50%, #003451), color-stop(50%, #002a42), color-stop(100%, #004a75));
  background-image: -moz-linear-gradient(#0ba7ff, #006fae 10%, #003451 50%, #002a42 50%, #004a75);
  background-image: linear-gradient(#0ba7ff, #006fae 10%, #003451 50%, #002a42 50%, #004a75);
  border-color: #000d14;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.19) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.19) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.19) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.19) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching button, .matching button:visited, .matching input[type="button"], .matching input[type="button"]:visited, .matching input[type="submit"], .matching input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching button:hover, .matching button:focus, .matching input[type="button"]:hover, .matching input[type="button"]:focus, .matching input[type="submit"]:hover, .matching input[type="submit"]:focus {
  background-color: #003452;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ffb), color-stop(10%, #00659f), color-stop(50%, #002b42), color-stop(50%, #002133), color-stop(100%, #004266));
  background-image: -moz-linear-gradient(#009ffb, #00659f 10%, #002b42 50%, #002133 50%, #004266);
  background-image: linear-gradient(#009ffb, #00659f 10%, #002b42 50%, #002133 50%, #004266);
  border-color: #000306;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching button:hover, .matching button:hover:visited, .matching button:focus, .matching button:focus:visited, .matching input[type="button"]:hover, .matching input[type="button"]:hover:visited, .matching input[type="button"]:focus, .matching input[type="button"]:focus:visited, .matching input[type="submit"]:hover, .matching input[type="submit"]:hover:visited, .matching input[type="submit"]:focus, .matching input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching button:active, .matching input[type="button"]:active, .matching input[type="submit"]:active {
  background-color: #002a42;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #002b42), color-stop(30%, #00324c), color-stop(50%, #002437), color-stop(50%, #001a28), color-stop(100%, #00466a));
  background-image: -moz-linear-gradient(#002b42, #00324c 30%, #002437 50%, #001a28 50%, #00466a);
  background-image: linear-gradient(#002b42, #00324c 30%, #002437 50%, #001a28 50%, #00466a);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #000d14 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #000d14 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #000d14 0 0.08em 0.2em 1px inset;
  box-shadow: #000d14 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching button:active, .matching button:active:visited, .matching input[type="button"]:active, .matching input[type="button"]:active:visited, .matching input[type="submit"]:active, .matching input[type="submit"]:active:visited {
  color: white;
}
/* line 18, ../../../app/stylesheets/_matching.sass */
.matching input[type="submit"].sad, .matching button.sad {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #4c4c4c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0a0a0), color-stop(10%, #727272), color-stop(50%, #454545), color-stop(50%, #3d3d3d), color-stop(100%, #575757));
  background-image: -moz-linear-gradient(#a0a0a0, #727272 10%, #454545 50%, #3d3d3d 50%, #575757);
  background-image: linear-gradient(#a0a0a0, #727272 10%, #454545 50%, #3d3d3d 50%, #575757);
  border-color: #262626;
  text-shadow: #0c0c0c 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching input[type="submit"].sad, .matching input[type="submit"].sad:visited, .matching button.sad, .matching button.sad:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching input[type="submit"].sad:hover, .matching input[type="submit"].sad:focus, .matching button.sad:hover, .matching button.sad:focus {
  background-color: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3d3d3d), color-stop(50%, #353535), color-stop(100%, #4f4f4f));
  background-image: -moz-linear-gradient(#989898, #6a6a6a 10%, #3d3d3d 50%, #353535 50%, #4f4f4f);
  background-image: linear-gradient(#989898, #6a6a6a 10%, #3d3d3d 50%, #353535 50%, #4f4f4f);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching input[type="submit"].sad:hover, .matching input[type="submit"].sad:hover:visited, .matching input[type="submit"].sad:focus, .matching input[type="submit"].sad:focus:visited, .matching button.sad:hover, .matching button.sad:hover:visited, .matching button.sad:focus, .matching button.sad:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching input[type="submit"].sad:active, .matching button.sad:active {
  background-color: #3d3d3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(30%, #424242), color-stop(50%, #383838), color-stop(50%, #313131), color-stop(100%, #525252));
  background-image: -moz-linear-gradient(#3d3d3d, #424242 30%, #383838 50%, #313131 50%, #525252);
  background-image: linear-gradient(#3d3d3d, #424242 30%, #383838 50%, #313131 50%, #525252);
  border-color: #171717;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #262626 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #262626 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #262626 0 0.08em 0.2em 1px inset;
  box-shadow: #262626 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p302@seamoov3/gems/fancy-buttons-1.1.0.alpha.1/lib/stylesheets/_fancy-buttons.sass */
.matching input[type="submit"].sad:active, .matching input[type="submit"].sad:active:visited, .matching button.sad:active, .matching button.sad:active:visited {
  color: white;
}
/* line 20, ../../../app/stylesheets/_matching.sass */
.matching button.idontknow {
  padding: 0px;
}

/* line 1, ../../../app/stylesheets/_question.sass */
#question {
  clear: both;
}
/* line 3, ../../../app/stylesheets/_question.sass */
#question h3 {
  display: inline;
  float: left;
  width: 87.179%;
  margin-right: 2.564%;
  margin-bottom: 0.75em;
}
/* line 6, ../../../app/stylesheets/_question.sass */
#question .side {
  display: inline;
  float: left;
  width: 10.256%;
  margin-right: 2.564%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}
/* line 10, ../../../app/stylesheets/_question.sass */
#question .content {
  clear: both;
}
/* line 15, ../../../app/stylesheets/_question.sass */
#question .content .multiple_choice ul li {
  list-style-type: none;
  margin-bottom: 0.5em;
}
/* line 19, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container {
  overflow-x: hidden;
}
/* line 21, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container #hint {
  font-size: 150%;
}
/* line 23, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container #hint .green {
  color: green;
}
/* line 25, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container #hint .red {
  color: red;
}
/* line 27, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container #hint .gray {
  color: gray;
}
/* line 29, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .hint_container #hint .purple {
  color: purple;
}
/* line 31, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .text_field {
  display: inline;
  float: left;
  width: 74.359%;
  margin-right: 2.564%;
}
/* line 33, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .text_field input[type=text] {
  font-size: 150%;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1em;
  height: auto;
}
/* line 39, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .submit {
  display: inline;
  float: left;
  width: 23.077%;
  margin-right: 2.564%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 42, ../../../app/stylesheets/_question.sass */
#question .content .follow_pattern .submit input[type=submit] {
  width: 100%;
}

/* line 2, ../../../app/stylesheets/_players.sass */
#match_players .internal {
  border-top: none;
  border-bottom: none;
  border-left: solid 0.3em #008fe0;
  border-right: solid 0.3em #ff9600;
}
/* line 7, ../../../app/stylesheets/_players.sass */
#match_players .internal ul {
  padding: 0px;
  margin: 0px;
}
/* line 10, ../../../app/stylesheets/_players.sass */
#match_players .internal ul li {
  margin: 0px;
  list-style-type: none;
  border-top: dashed 2px #4c4c4c;
  border-bottom: dashed 2px #4c4c4c;
}
/* line 15, ../../../app/stylesheets/_players.sass */
#match_players .internal ul li.notfirst {
  border-top: none;
}

/* line 2, ../../../app/stylesheets/_match_result.sass */
.match_result .left {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
}
/* line 4, ../../../app/stylesheets/_match_result.sass */
.match_result .left .internal {
  border: solid 2px #4c4c4c;
  padding: 5.263%;
}
/* line 7, ../../../app/stylesheets/_match_result.sass */
.match_result .right {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 10, ../../../app/stylesheets/_match_result.sass */
.match_result .right .gray {
  color: gray;
}
/* line 12, ../../../app/stylesheets/_match_result.sass */
.match_result .right .red {
  color: red;
}
/* line 14, ../../../app/stylesheets/_match_result.sass */
.match_result .right .green {
  color: green;
}
/* line 16, ../../../app/stylesheets/_match_result.sass */
.match_result .rematch {
  font-size: 120%;
}
/* line 28, ../../../app/stylesheets/screen.sass */
.match_result .rematch a, .match_result .rematch a:link, .match_result .rematch a:visited {
  background: #003e61;
  display: block;
  float: left;
  text-decoration: none;
}
/* line 33, ../../../app/stylesheets/screen.sass */
.match_result .rematch a span, .match_result .rematch a:link span, .match_result .rematch a:visited span {
  color: white;
  display: block;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}
/* line 40, ../../../app/stylesheets/screen.sass */
.match_result .rematch a:hover span {
  background-color: #ff9600;
}
/* line 42, ../../../app/stylesheets/screen.sass */
.match_result .rematch:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}
