%p#notice= notice

%p
  %b Content:
  = @multiple_choice.content
  %b Choices:
  %ul
    - @multiple_choice.options.each do |option|
      %li
        = raw(option.content)
        - if option.correct
          (correct)

= link_to 'Edit', edit_multiple_choice_path(@multiple_choice)
