%h3= follow_pattern.instruction
%div 
  (Hint: 
  %span#hint
  )
%div
  = form_tag :id => 'follow_pattern_form' do
    = text_field_tag :answer, nil, :hint => follow_pattern.hint
    = submit_tag "Submit"
