%h1 Listing categories

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.description
      %td= link_to 'Show', category
%br